body { font-family: "Helvetica Neue",Helvetica,Arial,sans-serif; }

a { text-decoration: none; color: black; }

.pull-left { float: left; }
.pull-right { float: right; }

.svg-icon-s   { width: 10px; height: 10px; vertical-align: middle; }
.svg-icon-m   { width: 16px; height: 16px; vertical-align: middle; }
.svg-icon-l   { width: 21px; height: 21px; vertical-align: middle; }

.bg-white { background-color: white; }
.bg-blue  { background-color: aliceblue; }
.bg-light { background-color: #f1f0f0; }

.compose { }
.compose_textarea { width: 100%; height: 100%; font-size: 2rem; border: none; padding: 20px; }

.flex { display: flex; }
.flex-column { flex: 1; }

/* Chooser
----------------------------------- */

.preview_chooser { padding: 20px; }
.preview_chooser .isActive { color: orange; }

/* Render
----------------------------------- */

.preview_render { padding: 20px; }

.preview_container {}
.preview_container + .preview_container { margin-top: 50px; }

.twitter { font-family: "Helvetica Neue",Helvetica,Arial,sans-serif; max-width: 590px;    color: #292f33; font-size: 14px; line-height: 18px; }
.twitter ol { position: relative; margin-left: 0; list-style: none; }
.twitter li { background: #fff; background-clip: padding-box; }
.twitter .tweet { border: 1px solid #e1e8ed; cursor: pointer; position: relative; min-height: 51px; padding: 9px 12px; }
.twitter .content { margin-left: 58px; }
.twitter .stream-item-header { }
.twitter .stream-item-header .avatar { float: left; margin-top: 3px; margin-left: -58px; width: 48px; height: 48px; border-radius: 5px; }
.twitter .stream-item-header .fullname { font-weight: bold; }
.twitter .stream-item-header .username { font-size: 13px; color: #8899a6; }
.twitter .stream-item-header .time { font-size: 13px; color: #8899a6; }
.twitter s { text-decoration: none; }
.twittet .TweetTextSize { font-size: 14px; line-height: 18px; white-space: pre-wrap; word-wrap: break-word; }
.twitter .stream .stream-item-footer { display: table; width: 100%; }
.twitter .ProfileTweet-actionList { font-size: 0; line-height: 1; margin-bottom: 2px; margin-top: 10px; }
.twitter .stream-item-footer { font-size: 0; line-height: 1; margin-bottom: 2px; margin-top: 10px; }
.twitter .stream-item-footer img { width: 21px; height: 21px; vertical-align: middle; margin-right: 55px; }
.twitter .js-tweet-text-container { }
.twitter .js-tweet-text-container a { color: #0382cf; }


.facebook { max-width: 500px; font-family: helvetica, arial, sans-serif; }
.facebook .box { border: 1px solid; border-color: #e5e6e9 #dfe0e4 #d0d1d5; border-radius: 3px; padding: 12px 12px 0; background: white; }
.facebook .img { height: 40px; width: 40px; margin-right: 7px; }
.facebook .name { margin-top: 3px; color: #365899; cursor: pointer; text-decoration: none; font-weight: bold; font-size: 14px; line-height: 1.38; }
.facebook .time { float: left; font-size: 12px; line-height: 16.08px; color: #999; margin-top: 2px; }
.facebook .privacy { width: 13px; height: 12px; background-position: -13px -37px; background-image: url('../images/fb_icons.png'); background-size: 64px 183px; background-repeat: no-repeat; display: inline-block; height: 16px; width: 12px; position: relative; top: 5px; margin-left: 4px; }
.facebook .content { margin-top: 14px; font-size: 14px; line-height: 1.38; }
.facebook .footer { border-top: 1px solid #ddd; padding-top: 5px; margin-bottom: 2px; margin-top: 11px; }
.facebook .footer img { width: 248px; }

.instagram { max-width: 590px; font-family: helvetica, arial, sans-serif; }
.instagram a { color: #003569; text-decoration: none; }
.instagram .box { background-color: #fff; border: 1px solid #efefef; border-radius: 3px; margin-left: -1px; margin-right: -1px; }
.instagram header { height: 46px; padding: 19px 19px 0px 19px; }
.instagram .avatar { width: 30px; height: 30px; margin: -1px 5px -1px -5px; background-color: #fafafa; border: 1px solid #dbdbdb; border-radius: 50%; box-sizing: border-box; display: inline-block; overflow: hidden; }
.instagram .username { color: #262626; text-decoration: none; display: inline-block; font-size: 15px; line-height: 18px; font-weight: 500; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; position: relative; top: -7px; }
.instagram .time { text-decoration: none; display: inline-block; font-size: 15px; line-height: 18px; font-weight: 500; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; position: relative; top: 3px; float: right; color: #999; }
.instagram .image { background: #dadada; width: 100%; height: 0; padding-bottom: 57.5%; }
.instagram .content { padding: 18px 23px 11px 23px; }
.instagram .coreSpriteHeartOpen { background-image: url('../images/ig_icons.png'); background-repeat: no-repeat; background-size: 352px 346px; background-position: -227px -266px; height: 24px; width: 24px; }
.instagram .coreSpriteEllipsis { margin-top: -9px; background-image: url('../images/ig_icons.png'); background-repeat: no-repeat; background-size: 352px 346px; background-position: -56px -176px;height: 44px; width: 44px; }
.instagram .footer { display: flex; justify-content: space-between; padding: 20px 0px 0px 0px; border-top: 1px solid #efefef; margin: 20px 20px 14px 20px; }


.instagram  {  }
.instagram  {  }
.instagram  {  }
.instagram  {  }

