<script type="text/template" class="template_facebook">
    <div class="preview_container facebook">
        <div class="box">
            <img class="img pull-left" src="https://scontent-lhr3-1.xx.fbcdn.net/v/t1.0-1/p100x100/12096282_1085118568168070_5347081712272386636_n.png?oh=2a0d154af2fd28474289f2b5970178e6&amp;oe=58123E66" alt="">
            <div class="name">Sick Chirpse</div>
            <div class="time">6 hrs · </div>
            <div class="privacy"></div>
            <div class="content">
                {{text}}
            </div>
            <div class="footer">
                <img src="images/fb_footer.png" />
            </div>

        </div>
    </div>
</script>