<script type="text/template" class="template_instagram">
    <div class="preview_container instagram">
        <div class="box">
            <header>
                <div class="avatar">
                    <img class="_a012k" src="https://scontent-lhr3-1.cdninstagram.com/t51.2885-19/s150x150/12357624_939175266131607_527433001_a.jpg">
                </div>
                <div class="username">
                    shambles100
                </div>
                <div class="time">
                    30sec
                </div>
            </header>
            <div class="image">
            </div>
            <div class="content">
                {{text}}
            </div>
            <div class="footer">
                <div class="coreSpriteHeartOpen"></div>
                <div class="coreSpriteEllipsis"></div>
            </div>
        </div>
    </div>
</script>