<script type="text/template" class="template_twitter">
    <div class="preview_container twitter">
        <ol>
            <li>
                <div class="tweet">
                    <div class="content">
                        <div class="stream-item-header">
                            <img class="avatar js-action-profile-avatar" src="https://pbs.twimg.com/profile_images/2969881129/ab1629f03d646a755830fc704f690b8b_bigger.jpeg" alt="">
                            <strong class="fullname js-action-profile-name show-popup-with-id">Fact</strong>
                            <span class="username js-action-profile-name"><s>@</s><b>Fact</b></span>
                            <small class="time">
                                <span>· 30s</span>
                            </small>
                        </div>
                        <div class="js-tweet-text-container">
                            <p class="TweetTextSize js-tweet-text tweet-text">
                                {{{text}}}
                            </p>
                        </div>
                        <div class="stream-item-footer">
                            <img src="svg/twitter_reply.svg" class="svg-icon-l" />
                            <img src="svg/twitter_retweet.svg" class="svg-icon-l" />
                            <img src="svg/twitter_heart.svg" class="svg-icon-l" />
                        </div>
                    </div>
                </div>
            </li>
        </ol>
    </div>
</script>